.uHead{
    display: flex;
    justify-content: center;
    margin: 5px;
    padding: 5px;
    font-size: 25pt;
    align-items: center;
    border-bottom: 0.5px solid #777777;
    background-color: #d1ebf5;
}

.headAv{
    margin-right: 10px;
}